
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 97.7rem;
}.desktop-1-kyE {
  width: 100%;
  height: 354.1rem;
  position: relative;
  overflow: hidden;
  background-color: #1a1616;

  .auto-group-pg7r-jKN {
    left: 0;
    top: 4.1055rem;
    width: 97.7696rem;
    height: 116.6945rem;
    position: absolute;

    .rectangle-1-xbS {
      object-fit: cover;
      vertical-align: top;
      width: 97.7696rem;
      height: 59.1113rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .student-designer-g1e {
      left: 4.6rem;
      top: 31.7945rem;
      font-weight: 400;
      line-height: 0.97;
      color: #000000;
      white-space: nowrap;
      width: 43.2rem;
      height: 4.9rem;
      position: absolute;
      font-size: 5rem;
      font-family: Iceland, 'Source Sans Pro';
    }
    .hello-jEp {
      white-space: nowrap;
      position: absolute;
      left: 5.6rem;
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      width: 21.6rem;
      height: 8.1rem;
      top: 16.0945rem;
      font-family: IM FELL DW Pica SC, 'Source Sans Pro';
    }
    .im-femina-lithika-EBa {
      height: 8.5rem;
      position: absolute;
      left: 4.6rem;
      font-weight: 400;
      color: #000000;
      font-family: Dynalight, 'Source Sans Pro';
      white-space: nowrap;
      width: 43.4rem;
      font-size: 7rem;
      line-height: 1.2125;
      top: 23.2945rem;
    }
    .rectangle-3-7WG {
      position: relative;
      left: 0.2rem;
      top: 58.9945rem;
      background-size: 100.028% 108.307%;
      background-position: -0.0135rem 0;
      background-image: url('REPLACE_IMAGE:efea15868d9762cffeb9c1f0c9c4334b168392ab');
      width: 97.3rem;
      height: 57.7rem;
    }
    .group-7-yHa {
      height: 5.6rem;
      cursor: pointer;
      position: absolute;
      left: 53.9rem;
      top: 5.3945rem;
      border-radius: 3rem;
      width: 19.4rem;

      .group-6-UVE {
        width: 100%;
        height: 100%;
        border-radius: 3rem;

        .group-3-dd2 {
          width: 100%;
          height: 100%;
          position: relative;
          background-color: #e3288a;
          border-radius: 3rem;

          .rectangle-5-nkp {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            border-radius: 3rem;
            width: 17.5139rem;
            height: 4.48rem;
            position: absolute;
            left: 0.8981rem;
            top: 0.5929rem;
          }
          .hobbies-p5E {
            position: absolute;
            left: 4.8rem;
            font-weight: 400;
            line-height: 0.97;
            color: #000000;
            font-family: Iceland, 'Source Sans Pro';
            width: 9.8rem;
            height: 3.2rem;
            top: 1.2rem;
            font-size: 3.2rem;
            white-space: nowrap;
          }
        }
      }
    }
    .a-bit-about-me-sZJ {
      top: 66.4945rem;
      font-weight: 400;
      font-family: Iceland, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 4.8rem;
      line-height: 0.97;
      color: #000000;
      width: 30.5rem;
      height: 4.7rem;
      position: absolute;
      left: 29.8rem;
    }
    .im-a-bachelor-of-technology-student-at-bsabdul-rahman-crescent-institute-of-technology-chennai-from-the-department-of-computer-science-engineeringa-designer-creator-and-a-budding-softerware-developer--m8t {
      color: #000000;
      font-size: 3.5rem;
      height: 24.7rem;
      position: absolute;
      left: 14.8rem;
      top: 77.5945rem;
      font-weight: 400;
      line-height: 1.1725;
      font-family: Convergence, 'Source Sans Pro';
      width: 68.1rem;
    }
  }
  .group-4-kmW {
    width: 17rem;
    height: 5.6rem;
    cursor: pointer;
    position: absolute;
    left: 5.6rem;
    top: 10rem;

    .group-1-HmS {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #e3288a;
      border-radius: 3rem;

      .rectangle-5-qHA {
        left: 0.787rem;
        top: 0.5929rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        border-radius: 3rem;
        width: 15.3472rem;
        height: 4.48rem;
        position: absolute;
      }
      .about-me-9Yk {
        color: #000000;
        font-family: Iceland, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 2.6rem;
        top: 1.2rem;
        line-height: 0.97;
        width: 11.8rem;
        height: 3.2rem;
        font-size: 3.2rem;
        font-weight: 400;
      }
    }
  }
  .group-5-RFN {
    left: 29.9rem;
    top: 9.5rem;
    width: 17rem;
    height: 5.6rem;
    cursor: pointer;
    position: absolute;

    .group-2-ZMa {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #e3288a;
      border-radius: 3rem;

      .rectangle-5-hig {
        position: absolute;
        left: 0.787rem;
        top: 0.5929rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        border-radius: 3rem;
        width: 15.3472rem;
        height: 4.48rem;
      }
      .about-me-q4C {
        white-space: nowrap;
        width: 8.8rem;
        height: 3.2rem;
        position: absolute;
        top: 1.7rem;
        font-weight: 400;
        line-height: 0.97;
        font-family: Iceland, 'Source Sans Pro';
        left: 4.4rem;
        font-size: 3.2rem;
        color: #000000;
      }
    }
  }
  .auto-group-jxet-Ww2 {
    background-image: url('REPLACE_IMAGE:efea15868d9762cffeb9c1f0c9c4334b168392ab');
    position: absolute;
    left: 0;
    background-size: 100% 114.895%;
    height: 57.9rem;
    top: 120.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 6.1rem 1.7rem 12rem 1.7rem;
    width: 97.5rem;
    background-position: -0rem -3.6967rem;

    .skill-set-BnG {
      color: #000000;
      font-family: Iceland, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 12.3rem 2.7rem 0rem;
      font-size: 5.5rem;
      font-weight: 400;
      line-height: 0.97;
    }
    .auto-group-ztbe-hVi {
      margin-right: 5.8rem;
      width: calc(100% - 5.8rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .im-striving-to-become-more-proficient-in-writing-programmes-to-write-more-elegant-and-efficient-code-being-a-student-i-am-at-present-having-the-skill-to-learn-and-write-programming-in-python-java-html-c-i-will-develop-further-to-get-well-placed-1mJ {
        color: #000000;
        font-family: Convergence, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 1.7rem;
        max-width: 52.4rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1725;
      }
      .rectangle-8-pCx {
        width: 34.2rem;
        height: 31.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-jxet-Ww2-bg {
      width: 97.5rem;
      height: 57.9rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:efea15868d9762cffeb9c1f0c9c4334b168392ab');
    }
  }
  .auto-group-vixa-sBE {
    left: 0;
    top: 178.7rem;
    width: 97.5rem;
    height: 57.6rem;
    position: absolute;

    .o-b7E {
      left: 50.7rem;
      font-size: 5.5rem;
      top: 14rem;
      font-weight: 400;
      line-height: 0.97;
      color: #ffffff;
      font-family: Iceland, 'Source Sans Pro';
      width: 2.7rem;
      height: 5.4rem;
      position: absolute;
      white-space: nowrap;
    }
    .rectangle-9-WEC {
      width: 97.5rem;
      height: 57.6rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-14-SNk {
      height: 18rem;
      position: absolute;
      left: 67.1rem;
      top: 12.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 24.7rem;
    }
    .rectangle-15-AZe {
      left: 67.1rem;
      top: 33.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 24.7rem;
      height: 17.7rem;
      position: absolute;
    }
    .rectangle-13-Vrp {
      vertical-align: top;
      width: 26.3rem;
      height: 18rem;
      position: absolute;
      left: 38.1rem;
      top: 33.3rem;
      object-fit: cover;
    }
    .rectangle-12-dCL {
      vertical-align: top;
      width: 30rem;
      height: 18rem;
      position: absolute;
      left: 4.7rem;
      top: 33.3rem;
      object-fit: cover;
    }
    .hobbies-Zbn {
      height: 5.4rem;
      position: absolute;
      font-size: 5.5rem;
      font-weight: 400;
      line-height: 0.97;
      white-space: nowrap;
      width: 17.4rem;
      left: 36rem;
      top: 3.4rem;
      color: #000000;
      font-family: Iceland, 'Source Sans Pro';
    }
    .rectangle-10-scU {
      width: 30rem;
      height: 18rem;
      position: absolute;
      left: 4.7rem;
      top: 12.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-11-1ig {
      left: 37rem;
      top: 12.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 27.4rem;
      height: 18rem;
      position: absolute;
    }
  }
}
